<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="ccdirect_payment_gateway_data_assign"
                  instance="Apexx\CcDirect\Observer\DataAssignObserver" />
    </event>
       <!-- Restrict CcDirect Payment method depends on currency -->
    <event name="payment_method_is_active">
        <observer name="restrict_ccdirect_payment_currency" instance="Apexx\CcDirect\Observer\DisabledCurrency" />
    </event>
    <event name="sales_order_place_after">
        <observer name="apexx_ccdirectpayment_place_order_after" instance="Apexx\CcDirect\Observer\OrderObserver" />
    </event>
</config>
